body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.carousel-caption {
  top: 200px;
}
.carousel-control-next, .carousel-control-prev {
  z-index: 31;
}
.on {
  background-color: #147DE2!important;
  cursor: pointer;
}
.off {
  background-color: #E6E6E6;
  cursor: pointer;
}


@media (max-width: 800px) {
	.mobileNone {
    display: none;
  }
}